<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new company</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Moirai+One&display=swap"
            rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/login.css" th:href="@{/css/login.css}"/>
</head>
<body>
<section th:insert="~{navigation.html :: nav}"></section>
<div class="container">
    <form class="form" id="create-user" th:object="${company}" th:action="@{/companies}" method = "post">
        <h2>ДОБАВЯНЕ</h2>
        <div class="input-small">
            <i class="fa fa-user" aria-hidden="true"></i>
            <label>
                <input th:field="*{name}" class="in" th:type="text" th:id="name" th:name="name"
                       th:required="required" placeholder="Име">
            </label>
        </div>
        <div class="button-group">
            <button class="button-link" th:type="submit" type="submit"><b>ДОБАВЯНЕ</b></button>
        </div>
    </form>
</div>
</body>
</html>
