<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit company</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Moirai+One&display=swap"
            rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/login.css" th:href="@{/css/login.css}"/>
</head>
<body>
<section th:insert="~{navigation.html :: nav}"></section>
<section class="content">
    <form class="form" id="edit-company" th:object="${company}" th:action="@{/companies/edit-company}" method = "post">
        <h2>РЕДАКТИРАНЕ</h2>
        <div class="input-small">
            <input th:field="*{id}" type="text" id="id" th:value="${company.getId()}" disabled/>
            <input th:field="*{id}" type="hidden" name="id" id="idHidden" th:value="${company.getId()}"/>
        </div>
        <div class="input-small">
            <input th:field="*{name}" type="text" name="name" id="name" th:value="${company.getName()}"/>
        </div>
        <div class="button-group">
            <button class="button-link" th:type="submit" type = "submit"><b>РЕДАКТИРАНЕ</b></button>
        </div>
    </form>
</section>
</body>
</html>
