<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/about.css" th:href="@{/css/about.css}"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700@100@200@300@300@400@500@600@800@900&display=swap"
            rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Moirai+One&display=swap"
            rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/icon" href="../static/images/logo_no_name.png" th:href="@{/images/logo_no_name.png}">
</head>
<body class="content-container">
<section th:insert="~{navigation.html :: nav}"></section>
<section class="section-hero">
    <h1 class="question">-</h1>
    <h1>Каква е нашата цел?</h1>
    <p>Нашата цел е да ви помогнем да се чувствате красиви и уверени, без да рискувате появата на акне или алергични реакции от нашите продукти. Вярваме, че красотата трябва да бъде безопасна и достъпна за всички. Затова нашата цел е да предложим грижа за кожата и грим, които не само ви правят прекрасни, но и предпазват от неприятностите
        Когато става въпрос за вашата кожа, ние приемаме безкомпромисен подход. За нас, качеството и безопасността са от решаващо значение.</p>

    <h1 class="question">-</h1>
    <h1>Каква е нашата мисия?</h1>
    <p>Нашата мисия е да бъдем вашият надежден партньор в света на красотата. Предлагаме грижа и грим, които ви вдъхновяват да изразите себе си по най-добрия начин. Нашата цел е да ви предоставим най-добрите продукти на пазара, създадени от водещи експерти в индустрията.
        Вярваме в иновацията, качеството и красотата, които ще ви направят да се чувствате уверени и прекрасни във всеки един момент.
        Ние сме тук, за да ви предложим най-доброто от света на козметиката, без компромиси по отношение на качеството и безопасността. Нашата ангажираност е да ви осигурим продукти, които отразяват вашата уникалност и стил, без значение какво търсите - от ежедневна грижа до специални поводи.
        Всеки заслужава да се чувства красив и уверен в собствената си кожа!
    </p>

    <h1 class="question">-</h1>
    <h1>Защо да изберете нас?</h1>
    <p>
        Има множество причини да изберете нас за ваш партньор в света на красотата. Първо, ние се грижим за нашите клиенти и техните нужди,
        като предлагаме широка гама от продукти, които отговарят на различни желания и стилове.
        Освен това, ние сме посветени на качеството и безопасността на нашите продукти, използвайки само най-добрите съставки и формули.
        Нашите иновации винаги са насочени към отговаряне на нуждите на нашите клиенти, като предлагаме последните тенденции и технологии в индустрията на красотата. Ние също така предлагаме персонализирани съвети и подкрепа, за да ви помогнем да постигнете най-добрия външен вид. В крайна сметка, ние не просто предлагаме продукти,
        а създаваме едно цялостно преживяване на красотата, което ви вдъхновява да се почувствате уверени и прекрасни в собствената си кожа.
    </p>
    <br>
</section>
<section th:insert="~{navigation.html :: footer}"></section>
</body>
</html>
