<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link th:href="@{https://fonts.googleapis.com/css2?family=Montserrat:wght@700@100@200@300@300@400@500@600@800@900&display=swap}"
          href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700@100@200@300@300@400@500@600@800@900&display=swap"
          rel="stylesheet"
    />
    <link th:href="@{https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Moirai+One&display=swap}"
          href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Moirai+One&display=swap"
          rel="stylesheet"
    />
    <link th:href="@{https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap}"
          href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/icon" href="../static/images/logo_no_name.png" th:href="@{/images/logo_no_name.png}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/login.css" th:href="@{/css/login.css}"/>
    <script src="/static/js/slider.js" th:src="@{/js/slider.js}" defer></script>

</head>
<body>
<section th:insert="~{navigation.html :: nav}"></section>
<section class="content">
    <form class="form">
        <div class="input-small">
            <input type="text" name="userid" id="userId" th:value="${user.getId()}" disabled/>
        </div>

        <div class="input-small">
            <input type="text" name="username" id="username" th:value="${user.getUsername()}" disabled/>
        </div>

        <div class="input-small">
            <input type="text" name="firstname" id="firstname" th:value="${user.getFirstName()}" disabled/>
        </div>

        <div class="input-small">
            <input type="text" name="lastname" id="lastname" th:value="${user.getLastName()}" disabled/>
        </div>

        <div class="input-small">
            <input type="text" name="lastname" id="email" th:value="${user.getEmail()}" disabled/>
        </div>

        <div class="input-small">
            <input type="password" name="password" id="password" value="notrealpasswordhere" disabled/>
        </div>
    </form>
</section>
<img src="/profile-picture" height="100"/>

<form th:action="@{/profile-picture}" enctype="multipart/form-data" method="post">
    <label>Picture</label>
    <input type="file" name="image" accept="image/*" />

    <br/>

    <input type="submit" value="update"/>
</form>
</body>
</html>